/* Style */
.card {
    max-width: 300px;
    font-size: small;
    box-shadow: 0px 0px 1px 1px;
    padding: 0.5rem;
    background-color: #1a1919;
    border-radius: 1rem;
    max-height: 100%;
}

.card > div > div {
    margin: 0.5rem 0;
}

.card > div {
    text-align: center;
}

img {
    max-height: 200px;
    max-width: 100%;
}

.category {
    background-color: antiquewhite;
    font-weight: 600;
    color: black;
    padding: 1px 4px;
    border-radius: 5px;
    text-align: center;
}

.button {
    border: 1px solid white;
}

/* Layout */
.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
